.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg(style="max-width: 700px;")
		.modal-content(style="padding: 25px; margin-top: 150px;")
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Choose an altcoin
			.modal-body
				div(style="display:flex; flex-wrap: wrap; width: 100%;")
					each ticker in tickers
						div(style="flex-grow: 1; text-align:center; min-width: 100px; min-height: 50px;")
							a(href="#{base_url}?c=#{ticker}") #{ticker}

script(src="/js/vendor/bootstrap.min.js")
