.container(style="display:table")
	.navbar-header.jh-page-logo
		a(href="#{base_url}")
			span Altcoin Prices
			//- img(src="/img/logo.png", height="75")
	.navbar-header.jh-ticker
		a(href="#",data-toggle="modal",data-target=".bd-example-modal-lg") Currently viewing: #{current_profile}