.jh-title-container
	.jh-navbarheader.jh-website-name
		a(href="#{base_url}")
			span Altcoin Prices
	.jh-navbarheader.jh-change-coin
		a(href="#",data-toggle="modal",data-target=".bd-example-modal-lg") Change coin
			