doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body.not-found-page
    .container
      .row
        .col-xs-12.col-sm-12.col-lg-12.not-found-page
          h1 404
          h2 Page not found
          h3
            a(href="#{base_url}/") Go to main page