doctype html
html(lang='en')
  head
    include ./includes/head.jade
    style.
      .img-container {
        text-align: right;
      }
      .main-title {
      font-size: 64px;
      font-weight: 700;
      font-family: "Proxima Nova Bold", "Open Sans", "Helvetica Neue", sans-serif;
      }
      @media (max-width: 768px) {
        .img-container.col-xs-12 {
        text-align: center;
        }
        .main-title {
          font-size: 24px;
        }
        .center {
          display: block;
          text-align: center;
          margin: 3px auto;
        }
        h2, h3, p {
          width: 100%;
          text-align: center;
        }
      }
  body
    include ./includes/navigation.jade
    .container-fluid(style='background: #ffdc4f;padding-bottom: 75px;margin-top: -20px;')
      .container(style='margin-top: 100px;')
        .col-lg-4.col-xs-12.img-container
          img(src='/img/iphone_stakepool.png', style='height: 400px;')
        .col-lg-6.col-xs-12
          h2.main-title(style='color: #331c33;') Meet the Dcrstats mobile app!
          h3(style='color: #331c33; margin-bottom: 30px;') Get access to the most important network stats and exchange rates.
          a(href="https://play.google.com/store/apps/details?id=com.ionicframework.myapp554035", target="_blank")
            img.center(src="/img/playstore.png", width="150", style="padding: 0 3px;")
          img.center(src="/img/appstore.png", width="150", style="padding: 0 3px;")
    .container-fluid(style='background: #ff8e4d;padding: 125px 0;')
      .container
        .col-lg-4.col-xs-12.img-container
          img(src='/img/android_stakepool.png', style='height: 400px;')
        .col-lg-6.col-xs-12
          h2.main-title(style='color: #fff;') Monitor your PoS-mining stats
          h3(style='color: #fff; margin-bottom: 30px;')
            | After a simple authorization you can start monitoring your PoS-mining proccess in the Stakepool Dcrstats. Know your monthly profit and current mining statistic.
          a(href="https://play.google.com/store/apps/details?id=com.ionicframework.myapp554035", target="_blank")
            img.center(src="/img/playstore.png", width="150", style="padding: 0 3px;")
          img.center(src="/img/appstore.png", width="150", style="padding: 0 3px;")
    .container-fluid(style='background: #66d4ff;padding: 100px 0 50px 0;margin-bottom: -40px;')
      .container
        .col-lg-12(style='text-align: center;')
          h2.main-title(style='color: #fff;') Price alerts & more
        .col-lg-4.col-xs-12.img-container
          img(src='/img/price_alerts.png', style='height: 250px; border-bottom: 2px solid #313538;')
        .col-lg-6.col-xs-12
          h3(style='color: #fff; margin-bottom: 5px;')
            | Configure ticket price drop alerts and receive PUSH-notifications when it's a good time to buy. 
          p(style='color: #fff; font-size: 18px; margin: 15px 0;')
            | Coming in the next release.
          a(href="https://play.google.com/store/apps/details?id=com.ionicframework.myapp554035", target="_blank")
            img.center(src="/img/playstore.png", width="150", style="padding: 0 3px;")
          img.center(src="/img/appstore.png", width="150", style="padding: 0 3px;")
          
    footer(style="background: #66d4ff;")
      include ./includes/footer.jade
