doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    .container
      .row
        include ./includes/navigation.jade

      .row.hidden-xs
        .col-xs-12.col-sm-12
          .container.chart-toolbar.text-center(role='toolbar')
            .btn-group.price-group.pull-right
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="1", data-chart="price")
                span Day
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="7", data-chart="price")
                span Week
              button.price-time.btn-chart.btn.btn-default.active(type='button', data-time="30", data-chart="price")
                span Month
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="365", data-chart="price")
                span Year
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="99999", data-chart="price")
                span All Time
            .btn-group.price-group.pull-right
              button.price-ticker.btn-chart.btn.btn-default(type='button', data-ticker="btc", data-chart="price")
                span BTC
              button.price-ticker.btn-chart.btn.btn-default.active(type='button', data-ticker="usd", data-chart="price")
                span USD
          h3.price-chart-title GNT Price, USD
          #price-chart.chart-container

      .row.price-block-end
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title(title="Price based on data from Poloniex + BitStamp")
              span &nbsp;GNT / USD&nbsp;
            span.stats-content.stats-lastprice -
            span.price-change.percent
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title(title="Last price on Poloniex")
              span &nbsp;GNT / BTC&nbsp;
            span.stats-content.stats-btc -
            span.price-change.volume
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title
              span &nbsp;DAY LOW&nbsp;
            span.stats-content.stats-daylow -
            span.price-change.btc-low -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title
              span &nbsp;DAY HIGH&nbsp;
            span.stats-content.stats-dayhigh -
            span.price-change.btc-high -
    
    footer
      include ./includes/footer.jade
