doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    .container-fluid.price-block
      .row
        include ./includes/navigation.jade
      .row
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title(title="Price based on data from Bittrex + BTC-E") Last price
            span.stats-content.stats-lastprice -
        .col-xs-6.col-md-3.hidden-xs
          p.stats-block
            span.stats-title Day Low
            span.stats-content.stats-daylow -
        .col-xs-6.col-md-3.hidden-xs
          p.stats-block
            span.stats-title Day High
            span.stats-content.stats-dayhigh -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title(title="Last price on Bittrex") DCR / BTC
            span.stats-content.stats-btc -
      .row
        .col-xs-12.col-sm-12
          .container.chart-toolbar(role='toolbar')
            .chart-title
              h2.main-title.price-chart-title Decred price, USD
            .line
            .btn-group.price-group
              button.btn-chart.btn.btn-default(type='button', data-ticker="btc", data-chart="price")
                span BTC
              button.btn-chart.btn.btn-default.active(type='button', data-ticker="usd", data-chart="price")
                span USD
          #price-chart.chart-container
    .container-fluid
      .row
        .col-xs-12.col-sm-12
          .container.chart-toolbar(role='toolbar')
            .chart-title
              h2.main-title.price-chart-title Decred Network Stats
          .line
        .col-xs-12.col-md-6
          #supply.chart-container
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title.text-black Last block:
            span.stats-content.stats-blocks.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title.text-black Avg block time:
            span.stats-content.stats-time.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title.text-black Hashrate:
            span.stats-content.stats-hashrate.text-black -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title.text-black Difficulty
            span.stats-content.stats-difficulty.text-black -
        .col-xs-6.col-md-3
          .hint.hint-red.hint-md
            span.stats-title Block reward
            ins.block-reward
            p.pow-block-reward
            p.pos-block-reward
            p.dev-block-reward
        .col-xs-6.col-md-3
          .hint.hint-red.hint-md
            span.stats-title.hidden-xs Reward adjustment
            span.stats-title.visible-xs-block Next reward
            ins.est-block-reward
            ins.est-reward-time
            ins.est-reward-blocks
    .container
      .row


      .row
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Ticket Price:
            span.stats-content.stats-ticketprice -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title PoS Poolsize:
            span.stats-content.stats-poolsize -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title Mempool
            span.stats-content.stats-mempool -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title.hidden-xs Avg Fees In Mempool:
            span.stats-title.visible-xs-block Avg Fees
            span.stats-content.stats-fees -
      .row.reward-hints
        .col-xs-6.col-md-3
          .hint.hint-blue.hint-sm
            span.stats-title.hidden-xs Ticket price adjustment
            span.stats-title.visible-xs-block Ticket price change
            ins.est-pos-time
            ins.est-pos-blocks
        .col-xs-6.col-md-3
          .hint.hint-blue.hint-sm
            span.stats-title Estimated ticket price
            ins.est-pos-price
            p.small-text
              b Min:&nbsp;
              span.min-est-pos
            p.small-text
              b Max:&nbsp;
              span.max-est-pos


      .row
        .col-xs-12.col-md-6.mobile-top-chart
          #voters.chart-container

      .row
        .col-xs-12.col-md-6.hint-pos
        .col-xs-12.col-md-6
          .hint.hint-blue
            h4 Locked DCR in PoS-mining
            p
              | Current PoS pool value is&nbsp;
              b.poolvalue - DCR
              | . It is&nbsp;
              b.poolvalue-percent x%
              |  of total available supply.
              br
              | Average ticket price in the pool is&nbsp;
              span.avg-price-in-pos-pool - DCR
              | .
      .row
        .col-xs-12.col-sm-12
          #pos-tickets-history.chart-container
      .row
        .col-xs-12.col-sm-12
          .btn-toolbar(role='toolbar')
            .btn-group.pos-group
              button.btn-chart.btn.btn-default(type='button', data-period="7", data-chart="sbits")
                span Week
              button.btn-chart.btn.btn-default(type='button', data-period="30", data-chart="sbits")
                span Month
              button.btn-chart.btn.btn-default.active(type='button', data-period="365", data-chart="sbits")
                span Year
          #pos-sbits.chart-container
    footer
      include ./includes/footer.jade
