@font-face { font-family: "Proxima Nova Bold"; src: url('/fonts/ProximaNovaBold.otf') format("opentype"); }
@font-face { font-family: "Proxima Nova Regular"; src: url('/fonts/ProximaNovaRegular.otf') format("opentype"); }

body {
  background: #f2f2f2;
  font-family: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:focus {
  outline: none !important;
}

nav .navbar-toggle {
  color: #333;
  background: transparent;
  padding: 4px 10px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #111;
}

nav.navbar {
  padding-top: 16px;
  min-height: 65px;
  border-radius: 0;
}

.navbar-inverse {
  background-color: transparent;
  border: none;
}

.navbar-header img {
  margin-top: 5px;
}

.navbar-brand img:hover {
  opacity: 0.8;
}

.navbar-inverse .navbar-nav>li>a {
    font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif !important;
    color: #3f3f3f;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #3c4ba6;
}

nav.navbar span.badge {
  font-weight: 200;
  background-color: #E04949;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form  {
    border: none;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background: none;
}

#navbar li a.stakepool-bg {
  font-weight: bold;
  color: #3c4ba6;
}

h1.decred-title {
  color: #3c4ba6;
  font-size: 72px;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 0px;
  font-family: "Proxima Nova Bold", Helvetica, Arial, sans-serif !important;
}

h2.decred-subtitle {
  color: #3f3f3f;
  font-size: 30px;
  text-align: center;
  /*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
  margin-top: 0px;
  margin-bottom: 20px;
}

.main-color {
  color: #3f3f3f;
}

.pos-color {
  color: #3f3f3f;
}

p span.text-black {
  color: #3f3f3f;
}

.small-text {
  font-size: 14px;
}

.chart-container {
  min-height: 400px;
  margin: 0 auto;
}

.supply-chart-container {
  min-height: 320px;
  margin: 0 auto;
}

.stats-block {
  padding: 0;
  color: #3f3f3f;
  text-align: center;
  border: 1px solid #e0e0e0;
  height: 90px;
  border-radius: 4px;
}

p.pos-stats-block {
    padding: 0;
    color: #3f3f3f;
    border: 1px solid #e0e0e0;
    height: 90px;
    border-radius: 4px;
    text-align: left;
    margin-bottom: 33px;
}

p.pos-stats-block.big {
  height: 125px;
}

.pos-stats-title {
  padding: 5px 0 5px 15px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border-bottom: 1px solid #e0e0e0;
  color: #727272;
  font-family: "Proxima Nova Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pos-stats-content {
    display: block;
    font-weight: 600;
    font-size: 32px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #3f3f3f;
    border-radius: 4px;
    text-align: center;
    padding-left: 15px;
}

.pos-stats-subinfo {
    color: #3f3f3f;
    font-size: 18px;
    display: block;
    text-align: center;
}

.pos-stats-subinfo b {
    color: #3f3f3f;
    font-size: 22px;
}

span.stats-fees {
  font-size: 22px;
}

span.pos-stats-content.main-color.est-pos-time {
  font-size: 26px;
}

p.network-stats-block {
  padding: 0;
  color: #3f3f3f;
  border: 1px solid #e0e0e0;
  height: 115px;
  border-radius: 4px;
  text-align: left;
  margin-bottom: 33px;
}

.network-stats-block.big {
  height: 170px;
}

.stats-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #545454;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  padding: 0 15px;
}

.stats-title span {
  background: #f2f2f2;
}

span.price-change {
  position: relative;;
  bottom: 2px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  color: #9D9D9D;
  background: #f2f2f2;
  padding: 0 10px;
}

span.price-change.percent,
span.price-change.volume {
  bottom: 12px;
}

span.up {
  color: #73af44;
  font-size: 22px;
  vertical-align: middle;
  margin-bottom: 8px;
  display: inline-block;
  margin-left: 5px;
}

span.down {
  color: red;
  font-size: 22px;
  vertical-align: middle;
  margin-bottom: 8px;
  display: inline-block;
  margin-left: 5px;
}

.network-stats-title {
  padding: 5px 0 5px 15px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  display: block;
  border-bottom: 1px solid #e0e0e0;
  color: #727272;
  font-family: "Proxima Nova Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.stats-content {
  display: block;
  font-weight: 600;
  font-size: 32px;
  line-height: 82px;
  letter-spacing: 0px;
  color: #3f3f3f;
}

.network-stats-content {
  display: block;
  font-weight: 600;
  font-size: 32px;
  line-height: 54px;
  letter-spacing: 0px;
  color: #3f3f3f;
  border-radius: 4px;
  text-align: left;
  padding-left: 15px;
}

.stats-subinfo {
  padding-left: 15px;
  color: #9D9D9D;
  font-size: 13px;
  display: block;
}

.stats-subinfo b {
  text-transform: uppercase;
  color: #888;
  font-size: 14px;
}

.stats-main-color .stats-subinfo {
  color: #3f3f3f;
}

.row p.stats-main-color {
  border-color: #e0e0e0;
  color: #3f3f3f;
}

.row p.stats-second-color {
  border-color: #e0e0e0;
  color: #3c4ba6;
}

.row p.stats-main-color .network-stats-title,
.row p.stats-main-color .pos-stats-title {
  border-color: #e0e0e0;
}

.row p.stats-second-color .pos-stats-title {
  border-color: #e0e0e0;
}

.stats-main-color .block-reward,
.stats-main-color .est-pos-time  {
  color: #3c4ba6;
}

.stats-second-color .est-pos-price  {
  color: #3c4ba6;
}

span.stats-subinfo a {
  color: #3b546a;
  text-decoration: underline;
}

.thash {
  font-size: 15px;
}

span.stats-btc {
  border-right: none;
}

.chart-title {
  float: left;
}

.price-group {
  margin-right: 25px;
}

.price-chart-title {
  z-index: 9999;
  color: #727272;
  /*text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
  position: absolute;
  bottom: 40px;
  margin-left: 40px;
}

.price-block-end {
  margin-top: 25px;
  margin-bottom: 25px;
}

.supply-chart-wrapper {
  padding: 0;
  color: #3f3f3f;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  text-align: left;
}

.supply-chart-footer {
  padding: 15px 50px;
  font-weight: bold;
  width: 100%;
  text-align: left;
  display: block;
  border-top: 1px solid #e0e0e0;
}

.supply-chart-footer .progress {
  height: 5px;
  background-color: #e8e8e8;
}

.supply-chart-footer .progress .progress-bar{
  background-color: #66a833;
}

.supply-title {
  font-size: 17px;
  color: #888;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif !important;
}

.supply-numbers {
  font-size: 24px;
  color: #5a626b;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif !important;
}

.supply-numbers b {
  color: #3f3f3f;
  font-size: 24px;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif !important;
}

.supply-chart-footer .supply-title b {
  color: #3f3f3f;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif !important;
}

.chart-title h2.main-title {
  font-family: "Proxima Nova Regular",'Source Sans Pro', Arial, sans-serif;
  color: #727272;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding: 0;
  line-height: 28px;
}

.chart-title h2.main-title span.sub-title {
  font-size: 12px;
  line-height: 22px;
}

.chart-toolbar .btn-group .btn-chart {
  border: 2px solid #3c4ba6;
  background: transparent;
  color: #3c4ba6;
}

.chart-toolbar .btn-group .btn-chart.active {
  background: #3c4ba6;
  color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.btn-toolbar .btn-group .btn-chart {
  border: 2px solid #3c4ba6;
  background: transparent;
  color: #3c4ba6;
}

.btn-toolbar .btn-group .btn-chart.active {
  background: #3c4ba6;
  color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.min-est-pos {
  color: #66A833;
}

.max-est-pos {
  color: #AC2334;
}

.pos-chart-wrapper {
  margin-top: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 15px;
}

.pos-chart-wrapper .chart-title {
  font-size: 22px;
  color: #727272;
}

.pos-chart-wrapper .btn-toolbar {
  float: right;
}

.avg-price {
    padding: 10px 0;
}

.hint-title {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
  margin: 0;
  font-size: 24px;
}

.hint-content {
  padding: 15px 25px;
  color: ##3f3f3f;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif !important;
}

.poolvalue-stats {
  font-size: 22px;
  padding: 20px 0;
}

p.avg-pool-price {
  margin: 0 auto;
  max-width: 205px;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif !important;
}

p.avg-pool-price i.fa {
  font-size: 50px;
  color: #3c4ba6;
  float: left;
  margin-top: -10px;
}

p.poolvalue-stats b,
p.avg-pool-price b {
  color: #3c4ba6;
}

table#pools-table {
  background: rgba(255,255,255,0);
}

div.stakepools-row h2.pos-color {
  margin-top: 45px;
}

div.stakepools-row .pos-chart-wrapper {
  margin-top: 0;
}

span.fa.fa-trophy {
  color: #ffcc00;
  font-size: 18px;
  padding-left: 5px;
}

p.notice {
  text-align: center;
  color: #8a8a8a;
}

footer {
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 10px;
  margin-top: 40px;
  overflow: hidden;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif !important;
}

footer .footer-title {
  font-size: 38px;
  max-width: 730px;
  color: #3c4ba6;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

footer .footer-content {
  font-size: 18px;
  max-width: 640px;
  color: #3f3f3f;
  text-align: center;
  margin: 0 auto;
  font-weight: 200;
}

.footer-desc {
  width: 50%;
}

.footer-menu {
  margin-bottom: 25px;
}

.footer-menu a {
  margin-right: 25px;
  text-decoration: underline;
}

.footer-wrapper {
  border-top: 1px solid #6B7480;
  margin-top: 25px;
  padding: 20px 0;
}

.footer-wrapper p {
  color: #555;
  margin-right: 25px;
}

footer span,
footer a,
footer a:visited {
  color: #3c4ba6;
}

footer a:hover,
footer a:focus,
footer a:active {
  color: #3c4ba6;
}

.pluso {
  margin-top: 11px;
}

.pluso-more {
  visibility: hidden;
}

footer div.pluso .pluso-wrap a {
  margin: 3px 3px 0 0;
}

/* MAP */
table#nodes-table {
  background: none;
  text-align: center;
}

table#nodes-table th {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.node-success {
  color: #67BB23;;
}

.node-warning {
  color: #E6B849;;
}

.node-danger {
  color: #E83C3C;
}

/* blog */
.articles-header {
  background: url('/img/articles_bg.png');
  text-align: center;
  color: #fff;
  margin-top: -20px;
  padding: 75px 0;
}

.articles-header h1 {
  font-weight: 200;
  letter-spacing: 1px;
}

.articles-header p.articles-subtitle {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 15px 0;
}

.articles-header .btn {
  letter-spacing: 1xp;
}

.articles-list .article {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 5px;
}

.articles-list h2 {
  color: #aaa;
}

.articles-list h3 a {
  color: #111;
  font-weight: 200;
  font-size: 18px;
}

.articles-list h3 a:hover {
  color: #2481b7;
}

.articles-list .meta a {
  color: #c3c3c3;
}

.meta span.author {
  color: #B3B3B3;
  font-size: 13px;
}

.articles-list .fa-comment-o {
  padding-right: 5px;
}

.article,
.fb-comments {
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}

.article {
  padding: 0 20px;
}

.container .row .fb-comments,
.container .row .fb_iframe_widget {
  display: block;
}

.article img {
  width: 100%;
}

.article li {
  font-size: 18px;
}

.article h1 {
  margin-bottom: 10px;
}

.write-article-description {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 45px;
}

.write-article-description h1 {
  font-size: 24px;
}

.write-article-description p,
.write-article-description li {
  font-size: 16px;
}

.write-article-description p.attention {
  color: #E04949;
}


.article-form label {
  font-size: 14px;
  font-weight: 200;
}

.article-form input {
  width: 100%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  font-size: 15px;
  color: #3f3f3f;
  font-size: 17px;
}

.article-preview {
  background: #fff;
  min-height: 440px;
}

.article-preview img {
  max-width: 100% !important;
}

.article p,
.article-preview p {
  color: #3f3f3f;
  font-family: news-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-top: 29px;
}

.submission-response,
.submission-progress {
  margin-top: 30px;
}

.submission-response .alert {
  margin: 0;
}

button.submit-article {
  width: 100%;
  background-color: #93cc76;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  height: 60px;
  line-height: 45px;
  letter-spacing: 1.5px;
  margin: 20px 0;
}

button.submit-article:disabled {
  background-color: #a2a2a2;
}

/* VUE markdown editor */

#editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #3f3f3f;
}

textarea, #editor div {
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}

#editor textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}

/* 404 page */
body.not-found-page {
  background: #333;
  color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.row div.not-found-page {
  text-align: center;
  margin-top: 100px;
}

.row div.not-found-page h1 {
  font-size: 152px;
  line-height: 160px;
  padding: 0;
  margin: 0;
}

.row div.not-found-page h2 {
  font-size: 32px;
}

.row div.not-found-page h3 a {
  color: #54D5FF;
  text-decoration: underline;
}
/* 404 page end */

/* MOBILE STYLES */

@media (max-width: 768px) {
  h1.decred-title {
    display: none;
  }
  nav.navbar .navbar-header {
    margin-left: 5px;
  }
  nav.navbar ul li {
    background: #f5f5f5;
    border-bottom: 1px solid #eceaea;
    text-align: center;
  }

  .glyphicon, .fa-ticket, span.up, span.down {
    display: none;
  }
  sup {
    display: none;
  }
  .gitter-open-chat-button {
    display: none;
  }
  .stats-block {
    height: 50px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .stats-block .stats-title {
    font-size: 10px;
    line-height: 16px;
  }
  .stats-block .stats-content {
    line-height: 50px;
    letter-spacing: 0;
    font-size: 20px;
  }
  span.price-change,
  span.price-change.percent,
  span.price-change.volume {
    font-size: 12px;
    line-height: 12px;
    bottom: 16px;
  }
  h2.main-color {
    display: none;
  }
  .network-stats-title {
    text-align: center;
  }
  .supply-chart-wrapper {
    margin-bottom: 20px;
  }
  #supply {
    display: none;
  }
  .supply-chart-footer {
    padding: 15px 15px;
    text-align: center;
  }
  .supply-numbers {
    font-size: 12px;
  }
  .supply-numbers b {
    font-size: 14px;
  }
  .network-stats-wrapper {
    padding: 0;
  }
  p.network-stats-block {
    font-size: 14px;
  }
  .network-stats-title,
  .pos-stats-title {
    padding: 5px 0;
    text-align: center;
  }
  p.network-stats-block .network-stats-content,
  p.pos-stats-block .pos-stats-content {
    text-align: center;
    padding-left: 0;
    line-height: 50px;
    letter-spacing: 0;
    font-size: 20px;
  }
  .reward-hints p.pos-stats-block.big .pos-stats-content,
  .stats-block .pos-stats-content.avg-price,
  h4.hint-title {
    font-size: 16px;
    line-height: 20px;
  }
  .poolvalue-stats {
    font-size: 16px;
    line-height: 22px;
  }
  .stats-subinfo {
    padding: 0;
    text-align: center;
  }
  span.stats-subinfo b {
    font-size: 10px;
  }
  span.pos-stats-subinfo,
  span.pos-stats-subinfo b {
    font-size: 12px;
  }
  .inline-block {
    display: block;
  }
  h2.pos-color {
    font-size: 20px;
    text-align: center;
  }
  .mobile-top-chart {
    margin-bottom: 20px;
  }
  .reward-hints .hint ins {
    font-size: 14px !important;
  }
  .reward-hints .hint-md {
      min-height: 274px !important;
  }
  .reward-hints .hint-sm {
      min-height: 221px !important;
  }
  .small-text {
    font-size: 12px;
  }
  .pow .pos-chart-wrapper .chart-title {
    width: 100%;
    font-size: 16px;
    text-align: left;
  }
  .pow .pos-chart-wrapper .btn-toolbar {
      float: none;
  }
  .pow .pow-group {
    margin: 10px auto 20px auto;
  }
  footer {
    padding: 10px 20px;
  }
  .footer-desc {
    width: 100%;
  }
  .footer-wrapper p {
    margin-right: 0;
  }
  .dcr-addr {
    font-size: 12px;
  }
}
