.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content(style="padding: 25px;")
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Choose an alt-coin...
			.modal-body
				table.table.table-striped
					tbody
						tr(style="")
							td(style="border: none;text-align:center;")
								a(href="#{base_url}?c=DCR") DCR
							td(style="border: none;text-align:center;")
								a(href="#{base_url}?c=ETH") ETH
							td(style="border: none;text-align:center;")
								a(href="#{base_url}?c=GNT") GNT


script(src="/js/bootstrap.min.js")
