nav.navbar.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="https://dcrstats.com/")
        img(src="/img/decred-logo.png", height="60", alt="decred")
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='https://dcrstats.com/')
            | Home
        li
          a(href='https://dcrstats.com/map')
            | Decred Network Map 
        li
          a(href='https://dcrstats.com/pow')
            | Proof of Work Charts
        li
          a(href='https://dcrstats.com/articles')
            | Tutorials 
        li
          a.stakepool-bg(href='https://stakepool.dcrstats.com/')
            | Decred PoS Pool 
        li.show-chat
          a(href='javascript:;') Chat
