{
  "development": {
    "username": "decred",
    "password": "",
    "database": "database_development",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "logging": false,
    "base_url": "http://localhost:8080",
    "currencylayer_key" : "Get it here: https://currencylayer.com"
  },
  "production": {
    "username": "decred",
    "password": "",
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "logging": false,
    "base_url": "https://dcrstats.com",
    "currencylayer_key" : "Get it here: https://currencylayer.com"
  }
}
