{
	"debug": true,
    "username": "alt-stats",
    "password": "",
    "database": "stats-db",
    "dialect": "postgres",
    "logging": false,
    "base_url": "http://localhost:8080",
    "listen_port": 8080,
    "default_profile": "GNT"
}
